.capabilities .container {
  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.capabilities-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.capabilities-item {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
.capabilities-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.capabilities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $linkNormalColor;

  display: inline-block;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
}
//icon division
.icon-division {
  // width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $iconDivBgc;
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 120px;
  }
}
