.webstudio {
  font-family: $secondFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $akcentColor;
  text-decoration: none;

  display: inline-block;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 15px;
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}

.studio {
  color: $titleTextColor;
}
