$textColor: #757575;
$akcentColor: #2196f3;
$titleTextColor: #000000;
$linkNormalColor: #212121;
$cardSetUp: 30px;
$mainFont: "Roboto", sans-serif;
$secondFont: "Raleway", sans-serif;
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$iconDivBgc: #f5f4fa;
$ourTeamBgc: #f5f4fa;
$colorContactInfo: rgba(255, 255, 255, 0.6);
$joinLinkColor: rgba(255, 255, 255, 0.1);
$subscribeInputColor: rgba(255, 255, 255, 0.6);
$subscribeInputBorder: rgba(255, 255, 255, 0.3);
$subscribeBoxShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$portfolioBtnBgc: #f5f4fa;
